extends layout.pug

block append save
  li#save-btn.navbarBtn

block content
  #root(data-item-short=itemShort data-universe-short=universeShort data-display-universe=displayUniverse data-addr-prefix=ADDR_PREFIX data-domain=DOMAIN)
  script(src='/static/editor/bundle.js')
